@{
    ViewBag.Title = "Banking portal";
}

<div class="jumbotron">
    <h1>Banking portal</h1>
    Need a customer banking portal with the following facilities:<br />
    1) Intra-bank account-to-account money transfers. These transfers could be made
    between bank accounts across countries in different currencies. 
    The bank charges 2% for currency exchange. The bank does not maintain currency 
    rates and instead wants to use an online API (use any you can find).<br />
    2) The customer receives a guaranteed, but may be delayed, email
    alert for every transaction in his accounts.<br />
    3) The portal supports authentication from any one external provider like
    Facebook, Twitter, LinkedIn and Google.
</div>